<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.design.mode.use">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".singleton_mode.SingletonModeActivity"/>
        <activity android:name=".builder_mode.BuilderModeActivity"/>
        <activity android:name=".prototype_mode.PrototypeModeKotlinActivity"/>
        <activity android:name=".prototype_mode.PrototypeModeJavaActivity"/>
        <activity android:name=".factory_method_mode.FactoryMethodModeActivity"/>
        <activity android:name=".abstract_factory_mode.AbstractFactoryActivity"/>
        <activity android:name=".observer_mode.ObserverModeActivity"/>
        <activity android:name=".strategy_mode.StrategyModeActivity"/>
        <activity android:name=".chain_of_responsibility_mode.ChainOfResponsibilityModeActivity"/>
        <activity android:name=".template_method_mode.TemplateMethodModeActivity"/>
        <activity android:name=".iterator_mode.IteratorModeActivity"/>
        <activity android:name=".command_mode.CommandModeActivity"/>
        <activity android:name=".state_mode.StateModeActivity"/>
        <activity android:name=".memorandum_mode.MemorandumModeActivity"/>
        <activity android:name=".visitor_mode.VisitorModeActivity"/>
        <activity android:name=".mediator_mode.MediatorModeActivity"/>
        <activity android:name=".interpreter_mode.InterpreterModeActivity"/>
    </application>

</manifest>